header {
    background-color: black;
    
}
h1 {
    color: crimson;
}
.column{
    float: left;
    width: 50%;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}

.left{
    width: 25%;
}
.right{
    width: 75%;
}
button{
    border-style:double;
}
